@keyframes slidein {
  from {
    opacity: 0;
    transform: translateX(-60px);
  }

  to {
    transform: translateX(0px);
    opacity: 1;
  }
}

@keyframes slidein-reverse {
  from {
    opacity: 0;
    transform: translateX(60px);
  }

  to {
    transform: translateX(0px);
    opacity: 1;
  }
}
@keyframes slideUpAndMin {
  from {
    transform: translateY(0px);
  }
  to {
    margin-top: 70px;
    transform: translateY(-325px);
    font-size: 50px;
  }
}

.sub-heading.a-animation {
  animation: slideUpAndMin 0.5s;
  animation-timing-function: linear;
  animation-direction: normal;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
}

.gal.a-animation {
  animation: changeBG 1s;
  animation-direction: normal;
  animation-fill-mode: forwards;
  animation-timing-function: ease-out-in;
}

.flow-in.a-animation {
  animation: slidein 0.5s;
  animation-delay: 0.5s;
  animation-direction: normal;
  animation-fill-mode: forwards;
  animation-timing-function: ease-out-in;
}

.images.a-animation {
  animation: slidein-reverse 0.7s;
  animation-delay: 0.5s;
  animation-direction: normal;
  animation-fill-mode: forwards;
}
