

nav {
    
    height: 80px;
    width: 100%;
    position: fixed;
    /* padding-left: 20px; */
    margin-top: 0;
    z-index: 10;
    background-color: #232323;
    z-index: 1;

}
nav ul {
    display:flex;
    align-items: center;
}
nav li a:hover {
  color: white;
}

nav li {
    padding-top:15px;
    
    width: 100%;
} 
nav li a{
    color: rgb(148, 148, 148);
    text-decoration: none;
    text-align: center;
    font-size: 30px;
    width: 100%;
    
}
.navLogo {
    width: 50px;
    height: 50px;
    margin-left:0px;
    margin-top:0px;

}
.navLogoMobile {
    width: 50px;
    height: 50px;
    margin-left:0px;
    margin-top:0px;
    display:none;

}


















@media  (max-width: 750px) {

   
    .toggle-button{
        display: flex;
    }
    .navLogoMobile{
        margin-top:10px;
        display:flex;
        align-items: center;
    }
    nav {
        flex-direction: column;
        align-items: flex-start;
        /* width: 100%; */
        opacity: .97;
        /* height: 100%; */
    }
    
    .navLinks ul li {
       text-align: center;
       background-color:#232323;
       width:100%;
       /* font-size:100px; */
      
       /* display:none; */
    }
    .navLinks ul li a {
        text-align: center;
    }
    .navLinks.active ul{
        display: flex;
        height: 100%;
       width: 100%;
        align-items: stretch;
        margin-left: auto;
        margin-right: auto;
        margin-top:100px
        
    }
    
    nav.active {
        /* height:100%; */
        width:100%;
        padding: 0;
        margin:0;
      
        }
    .navLinks ul {
        display:none;
        flex-direction: column;
        width: 100%;
        height: 100%;
        padding-right: 0;
        margin-right:0;
        margin-inline-end: 0;
        
        padding: 0;
        
    }
    body.active {
        overflow-y: hidden;
    };
    .toggle-button .bar {
    width: 50px;
    height: 5px;
    background-color: #ecf0f1;
    display: block;
    margin: 8px auto;
    -webkit-transition: 0.3s ease-in-out;
    -o-transition:  0.3s ease-in-out;
    transition:  0.3s ease-in-out;
    }
    
    .toggle-button.active .bar {
        width: 100%;
        height: 3px;
        background-color: #ecf0f1;
        display: block;
      
    }
    .toggle-button.active .bar:nth-child(2){
        /* animation: midBar;
        animation-duration:.5s;
        opacity:0;
        animation-timing-function: ease-in-out; */
        opacity: 0;
      }
      
      
      .toggle-button.active .bar:nth-child(1){
        -webkit-transform: translateY(5px) rotate(45deg);
        -ms-transform: translateY(5px) rotate(45deg);
        -o-transform: translateY(5px) rotate(45deg);
        transform: translateY(5px) rotate(45deg);
        
        
      }
      
      .toggle-button.active .bar:nth-child(3){
        -webkit-transform: translateY(-13px) rotate(-45deg);
        -ms-transform: translateY(-13px) rotate(-45deg);
        -o-transform: translateY(-13px) rotate(-45deg);
        transform: translateY(-13px) rotate(-45deg);
       
      }
      @keyframes navDrop {
        50% {
            height:50%;
        }
        100% {
            height:100%;
        }
    }


      
     
    
}




  