p{
animation: slidein 5s ease-in-out forwards;
}


  @keyframes slidein {
    from {
      transform: translateX(0%);
      opacity:.2;
    }
  
    to {
      transform: translateX(100px);
      opacity: 1;
    }
  }




  